body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.game-over {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-family: monospace;
}
a {
  font-family: monospace;
  text-decoration: none;
  color: black;
}
