body{
    margin:0;
    padding:0;
   
}

#board{
    background-color: green;
    height:100vh;
    position:relative;

}
#player{
    background-color: brown;
    position:absolute;

}
#item{
    background-color: yellow;
    position: absolute;
}
.player{
    position:absolute;
    background-color:brown;
}